
<%- include ../nav %>
<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/register.css">
<div class = "register">
    <div class="alert alert-danger" role="alert" id="error">

    </div>
    <div class="container">
        <form class="register-panel">
            <div class="title">欢迎登录</div>
            <div class="control-group">
                <input type="text" class="form-control input" id="account" placeholder="账号">
            </div>
            <div class="control-group">
                <input type="password" class="form-control input" id="password" placeholder="密码">
            </div>
            <button type="button" class="btn btn-default input submit" id="login">登录</button>
        </form>
    </div>
</div>

<%- include ../footer.ejs %>
<script type="text/javascript" src="/javascripts/login/login.js"></script>
